/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*common*/
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(0deg, rgba(219,219,210,1) 85%, rgba(0,150,136,1) 85%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    display: flex;
}

/*sezione nav*/
nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 90vh;
}

/*sezione nome utente*/
.user {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    height: 70px ;
    padding: 0 30px 0 10px  ;
    
}

.img-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1px;
    cursor: pointer;
}

.img-user img {
    width: 100%;
}

.icons-user {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: 90px;
    color:  #b1b1b1;
    cursor: pointer;
}

/*sezione notifiche desktop*/

.notification {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #8edafc;
    padding: 15px 0 15px 20px ;
}

.bell {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    margin-right: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas.fa-bell-slash {
    font-size: 20px;
}

.desktop-notification {
    color: #4f7485;
    text-decoration: underline;
    cursor: pointer;
}

/*barra ricerca*/

.search {
    display: flex;
    height: 50px;
    background-color: #fafafa;
    padding: 8px;
}

.search div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    background-color: white;
    color: #b1b1b1;
    border: 1px solid #f5f5f5;
}

.searchbar {
    border: 1px solid #f5f5f5;
    width: 100%;
}

input[type="text"] {
    padding-left: 10px;
}

.searchbar:focus-visible {
    outline: none;
}

/*contatti*/

.contacts {
    height: calc(100% - 200px);
    overflow-y: scroll;
    background-color: white;
}

.contact {
    border-top: 1px solid #e9ebeb ;
    display: flex;
    max-height: 80px;
    padding: 10px 0 10px 20px;
    cursor: pointer;
}

.contact:hover {
    background-color: #e9ebeb;
}


.contact.active {
    background-color: #b6b6b6;
}


.img-contact {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.img-contact img {
    width: 100%;
}

/*sezione chat*/


/*parte alta*/
.conversation {
    width: 1000px;
    height: 90vh;
    background-color: white;
}

.conversation-top {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    height: 70px ;
    padding: 0 30px 0 10px  ;
}

.access {
    color: #b1b1b1;
}

/*parte centrale*/ 
.conversation-messages {
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 55px 115px 0 100px;
}

.message {
    position: relative;
    width: 315px;
    padding: 18px 15px ;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sent {
    background-color: #d5f9ba;
    margin-left: auto;
}

.message-date {
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 9px;
    color: #bbbec0;
}

/*parte sotto*/
.conversation-input {
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.write-message input {
    width: 800px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;

}

.write-message input:focus-visible {
    outline: none;
}

.vocal, .emoji {
    font-size: 20px;
    color: #6b7376;
}